<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ollama GUI</title>
    <link rel="stylesheet" herf="/static/styles.css">
</head>
<body>
    <div class="container">
        <h1>Chat with local LLM</h1>
        <input id="promptInput" type="text" placeholder="Type your message...">
        <button id="sendBtn" onclick="sendPrompt()">Send</button>
    

        <div id="responseBox" style="margin-top: 20px; white-space: pre-wrap;"></div>
    </div>
    
    <script>
        async function sendPrompt() {
            const prompt = document.getElementById("promptInput").value;

            const res = await fetch("/chats", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ prompt })
            });

            const text = await res.text();
            document.getElementById("responseBox").innerText = text;
        }
    </script>
</body>
</html>
